.curved_text_container {
    position: relative;
    align-items: center;
    justify-content: center;
    
    top: 100px;
    left: 100px;
   

  }
  
  #curved-text-svg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    
  }
  
  .curved_text_svg {
    width: 100%; 
    height: 100%; 

   
   
  }
  .inputfield{
    position: relative;
    display: flex;
    justify-content: center;
   
    width: 350px;
    height: 30px;


  }
  
  #curved-text-svg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    top: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
   

  }
  .curved_text {
    font-size: 16px;
    font-family: Arial, sans-serif; 
    
    margin-left: 250px;

    
  }
  .curved_text_container     path {
    fill: transparent;
  }
  .shirt{

   
    width: 40px;
    height: 40px;
    
    background-color:yellow;
    border: none;
    cursor: pointer;
    border:1px solid black;
    margin-right: 10px;
    margin-left: 50px;
}
.shirt1{

 
    width: 40px;
    height: 40px;
    
    background-color:red;
    border: none;
    cursor: pointer;
    border:1px solid black;
    margin-right: 10px;
}
.shirt2{

    width: 40px;
    height: 40px;
    
    background-color:blue;
    border: none;
    cursor: pointer;
    border:1px solid black;
    margin-right: 10px;
}
.shirt3{

    
    width: 40px;
    height: 40px;
    
    background-color:green;
    border: none;
    cursor: pointer;
    border:1px solid black;
    margin-right: 10px;
}

.shirt4{

    
    width: 40px;
    height: 40px;
    
    background-color:purple;
    border: none;
    cursor: pointer;
    border:1px solid black;
    margin-right: 10px;
}
.shirt5{

    
    width: 40px;
    height: 40px;
    
    background-color:black;
    border: none;
    cursor: pointer;
    border:1px solid black;
    margin-right: 10px;
}
.shirt6{

    
    width: 40px;
    height: 40px;
    
    background-color:grey;
    border: none;
    cursor: pointer;
    border:1px solid black;
    margin-right: 10px;
}
.shirt7{

    
    width: 40px;
    height: 40px;
    
    background-color:white;
    border: none;
    cursor: pointer;
    border:1px solid black;
    margin-right: 10px;
}
.input_field{
  display: flex;
  align-items: center;
  justify-content: center;
 
}

text{

position: relative;

left: 100px;
top: 0px;

}

.color_container{
  justify-content: center;
  align-items: center;
  display: flex;
}
select{
  
  margin-left: 1209px;
 
  margin-top: -110px;
  width: 120px;
  height: 35px;
  background-color: black;
  color: #ffff;
}
.font_types{
  margin-top: -89px;


}
